body {
  background-image: url("background/bc.jpg");
  background-size: 1920px 1080px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.logo {
  display: flex;
  padding: 20px;
  display: block;
  text-align: center;
} 

.menu{
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
}

.menu_item {
  height: 140px;
  width: 200px;
  
}

.menu_item img {
  height: 100%;
  width: 100%;

  
}

h1{
  text-align: center;
  padding: 10px;
  text-shadow: 10px 10px 15px black;
  padding-top: 150px;
  
}


ul {
  width: 95px;
  list-style-type: none;
  margin-right: 30px;
  text-decoration: none;
  padding: 20px;
}

li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-family: "Times New Roman";
}

a:hover  {
  color: red;
}


li:hover a {
  transform: scale(1.11);
}

.The-days {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 20px;              
  padding: 40px 20px;
}

.day-card{
  color:#ffff;
  height: 350px;
  width: 350px;
  padding: 250px;
  
}

.day-card img {
  
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main{
  color:#ffff
}

    .day-text {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      
      transition:
        max-height 0.8s ease,
        opacity 0.6s ease;
  }

.day-card.active .day-text {
  max-height: 800px;
  opacity: 1;
}

.ident {
  text-ident: 20px;
}


