body {
  background-image: url("background/bc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: block;
  padding-bottom: 100px;
}

.logo {
  display: flex;
  padding: 20px;
  display: block;
  text-align: center;
  margin-bottom: 40px
  
}

.nav{
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  
}

.menu_item {
  height: 140px;
  width: 200px;
  
}

.menu_item img {
  height: 100%;
  width: 100%;
/*   border-radius: 61px; */
}

main h1 {
  text-align: center;
  padding: 10px;
  text-shadow: 10px 10px 15px black;
  padding-top: 150px;
  color: white;
}

.music {
  display: grid;
  gap: 55px;
  justify-content: center;
  list-style-type: none;
  
  
}

.music_item {
  border: solid black 4px;
  width: 380px;
  height: 140px;
  background-image: url("div/div.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;


}

.music_item audio {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.music_item figcaption {
  display: inline-block;
  text-align: center;
  color: white;  
  padding-bottom: 20px;
  font-size: 25px;
  position: relative;
  text-shadow: 10px 10px 15px black;
  font-family: "Times New Roman"